/*
	Name: Adarsh Thekkekulathingal Kuriyachan
	File: style.css
	Date: 23 February 2024
	Description: The CSS establish the layout and styling for the homepage of an 
               imaginary community college. This CSS will be appended to refine 
               the page's appearance and functionality.
	*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

