/*
	Name: Adarsh Thekkekulathingal Kuriyachan
	File: style.css
	Date: 23 February 2024
	Description: The CSS establish the layout and styling for the homepage of an 
               imaginary community college. This CSS will be appended to refine 
               the page's appearance and functionality.
	*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* font face */

@font-face {
  font-family: 'cantata_oneregular';
  src: url('cantataone-regular-webfont.woff2') format('woff2'),
       url('cantataone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 

}

@font-face {
  font-family: 'open_sansbold';
  src: url('opensans-bold-webfont.woff2') format('woff2'),
       url('opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: 'cantata_oneregular', serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'open_sansbold', sans-serif;
  text-align: 2px;
}

/* general text style */

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

section h2 + p {
  text-indent: 20px;
}



